.bg-code {
  background-image: url('../../../public/assets/subjects.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}
.ratings {
  min-width: 45rem;
}
.rc-slider-handle {
  border: solid 2px #1a73e8;
  background-color: #1a73e8;
}
.rc-slider-handle:hover {
  border: solid 2px #1765cc;
  background-color: #1765cc;
  cursor: pointer;
}
.rc-slider-handle:active {
  border-color: #1765cc;
  box-shadow: 0 0 5px #1765cc;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: #1765cc;
  box-shadow: none;
}
.rc-slider-handle:focus {
  outline: none;
  box-shadow: unset;
}
.rc-slider-handle:focus-visible {
  border-color: #1a73e8;
  box-shadow: unset;
}
.rc-slider-handle-click-focused:focus {
  border-color: #1a73e8;
  box-shadow: unset;
}
.rc-slider-handle:hover {
  border-color: #1765cc;
}
.rc-slider-track {
  background-color: #1a73e8;
}