.difficulty-dropdown .dropdown {
  position: absolute;
  width: 10rem;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px,
    rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  padding: 0.5rem 0;
}
.difficulty-dropdown .dropdown .dropdown-item {
  cursor: pointer;
  padding: 0.8rem 1rem;
  color: #5f6368;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
  transition: all 0.2s ease-in-out;
}
.difficulty-dropdown .dropdown .dropdown-item:hover {
  background-color: #e8eaed;
}
.syllabus-container {
  display: flex;
  justify-content: center;
}
.syllabus-container img {
  width: 75vw;
}
.pdf-container {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  width: 75vw;
  margin: auto;
}
.react-pdf__Page {
  min-width: auto !important;
  position: inherit !important;
}
.react-pdf__Page__canvas {
  height: 100% !important;
  width: 100% !important;
  border: solid 1px #dadce0;
}

@media (max-width: 740px) {
  .subject-main.card .card-body {
    flex-direction: column;
    gap: 1rem;
  }
  .subject-main.card .card-body .w-3\/4 {
    width: 100%;
  }
  .subject-main.card .card-body .btn-primary,
  .subject-main.card .card-body .difficulty-dropdown {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .syllabus-container img,
  .pdf-container {
    width: 100%;
  }
  .new-subject-page .btn-primary {
    width: 100%;
  }
}
