.profile-page {
  min-height: calc(100vh - 2.8rem);
}
.profile-page .profile-input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1.5rem 0;
}
.profile-page .profile-input-group input,
.profile-page .profile-input-group select {
  flex-grow: 1;
  min-width: 15rem;
}

@media (max-width: 640px) {
  .profile-page .profile-input-group {
    padding: 0.5rem 0;
    gap: 1rem;
  }
  .profile-page .profile-input-group {
    grid-template-columns: 1fr;
  }
  .profile-page button {
    width: 100%;
  }
}
