.banner-img {
  height: 10rem;
  aspect-ratio: 720/416;
  border-radius: 0.5rem;
}
.banner-text {
  width: 75%;
}
.filter-tabs {
  width: 100%;
  overflow-x: auto;
}
.filter-tab {
  background-color: white;
  border: solid 1px #dadce0;
  border-radius: 0.3rem;
  color: #202124;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.3rem 1.2rem;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}
.filter-tab:hover {
  background-color: #f8f9fa;
}
.filter-tab.active {
  background-color: #e8f0fe;
  border-color: #1a73e8;
  color: #1a73e8;
}
.subject.card {
  max-width: 25rem;
}

.card-grid-design {
  background: url("../../../public/assets/grid.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.card-grid-design img {
  height: 10rem;
  margin-left: auto;
  position: relative;
  top: -2rem
}

@media (max-width: 600px) {
  .banner {
    flex-wrap: wrap-reverse;
  }
  .banner-img {
    height: 100%;
  }
  .banner-text {
    width: 100%;
  }
  .filters {
    flex-wrap: wrap;
  }
}
