.entry .card {
  width: 75vw;
  max-width: 40rem;
}
.entry .card-body {
  padding: 2rem 1.5rem;
}
.entry .err-msg {
  position: relative;
  top: -0.5rem;
}
.login-side {
  height: 60vh;
  border-radius: 0rem 0.6rem 0.6rem 0rem;
  background-color: #1a73e8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 500px) {
  .card div {
    width: 100%;
  }
  .login-side {
    display: none;
  }
  .header_btn-grp {
    gap: 0;
  }
  .header_btn-grp button {
    padding: 0.9rem 0.5rem;
  }
}